.cabecero {
    height: auto;
    text-align: center;
    background: linear-gradient(to top, #ffffff, #ffffff 50%, #7e8af1 50%, #919bf8);
    /* Ajusta los colores según los tonos de tu logo */
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0; /* Asegura que no haya margen externo */
    background-color: #f0f0f0; /* Color de fondo del body */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

.informativo{
    background-color: yellow;
}

.warning{
    background-color: rgb(255, 153, 0);
}

.ok{
    background-color: rgb(13, 219, 13);
}

.no{
    background-color: rgb(247, 9, 9);
    color: white;
}

.clase-muestra{
    background-color: aqua;
}

.general-clase{
    background-color: purple;
    color: white;
}

.clase-general{
    background-color: blue;
    color: white;
}

#text-area-CG{
    margin-top: 20px;
}


.imagen-logo{
    margin: auto;
    padding: 1.8em;
}

.opciones-container{
    background-color: #f9f9fe;
    height: 900px;
    margin: 10px;
}

.mensaje-cm p{
    text-align: justify;
}

.mensaje-cm{
    text-align: center;
}

.mensaje-cm button{
    margin-bottom: 20px;
}

#btn-copiar-6{
    margin-left: 1.2em ; 
    margin-top: 1.2em;
}

.info-estatica{
    text-align: center;
}

#generar-llamada{
    margin-left: 1.5em;
    margin-top: 1em;
}


