.cabecero{
    height: auto;
    text-align: center;
    background: linear-gradient(to top, rgb(172, 172, 172), rgb(131, 133, 148), rgb(255, 255, 255));
    /*background-color: #0C6291;*/
    display: flex; 
}

.imagen-logo{
    margin: auto;
    padding: 1.8em;
}

.opciones-container{
    background-color: #f9f9fe;
    height: 900px;
    margin: 10px;
}

.mensaje-cm p{
    text-align: justify;
}

.mensaje-cm{
    text-align: center;
}

.mensaje-cm button{
    margin-bottom: 20px;
}

#btn-copiar-6{
    margin-left: 1.2em ; 
    margin-top: 1.2em;
}

.info-estatica{
    text-align: center;
}

#generar-llamada{
    margin-left: 1.5em;
    margin-top: 1em;
}


